@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

$colorDarkBG: rgb(43, 43, 43);
$colorWhite: #ffffff;
$colorLightText: #5f5f5f;
$colorAccent: #3eaf7c;
$colorDanger: #fa6666;

body {
  font-family: "Montserrat", sans-serif;
  background: $colorDarkBG;
}

.wrapper {
  margin-top: 50px;
}

.todo-input {
  padding: 0 16px;
  width: 100%;
  height: 50px;
  background: $colorWhite;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $colorLightText;
  box-shadow: none !important;
  border: 2px solid $colorAccent;
  &:focus-visible {
    border: 2px solid $colorAccent !important;
    outline: none !important;
    box-shadow: none !important;
  }
}

.todo-button {
  width: 100%;
  height: 50px;
  display: flex;
  font-size: 16px;
  line-height: 24px;
  justify-content: center;
  align-items: center;
  background: none;
  color: $colorWhite;
  transition: 0.2s ease-in;
  &.green {
    border: 2px solid $colorAccent;
    &:hover {
      background-color: $colorAccent;
    }
  }
  &.red {
    border: 2px solid $colorDanger;
    &:hover {
      background-color: $colorDanger;
    }
  }
}

.todo-list {
  margin-top: 75px;
  width: 100%;
}

.todo-card {
  padding: 16px;
  border: 2px solid $colorAccent;
}

.todo-card__date {
  font-size: 14px;
  color: $colorWhite;
}

.todo-card__title {
  font-size: 24px;
  color: $colorWhite;
}

.todo-card__description {
  font-size: 14px;
  color: $colorWhite;
}

.todos-void {
  text-align: center;
  color: $colorWhite;
  font-size: 32px;
}

.todo-change-input {
  background: $colorDarkBG;
  border: none;
  color: $colorWhite;
  &:focus, :focus-visible {
    border: none;
    outline: none;
  }
}